body{  
  display: flex;
  flex-direction: column;
  flex:auto;
}

main{  
  display: flex;
  flex-direction: row;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link1 {
 padding-right: 1rem;
}

.tweet {
  padding-left: 1rem;
}

.space{
  margin-bottom: 2rem;
}

.table{
  border: 1px solid black;
  padding: 0.25rem;
  width: 400px;
}

.table th{
  border: 1px solid black; 
  padding: 0.25rem;
  font-weight: bold;
}

.table td{
  border: 1px solid black; 
  padding: 0.25rem;
  text-align: center;
}
